*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  height: 100svh;
  line-height: 1.4;
  text-rendering: optimizeSpeed;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: Inter, sans-serif;
  font-weight: var(--fw-regular);
  font-size: var(--fs-base);
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}
