.travel {
  padding-top: 80px;
  padding-bottom: 80px;
}

.travel__title {
  margin: 0 auto;
  margin-bottom: 24px;
  font-size: var(--fs-7xl);
  font-weight: var(--fw-black);
  text-align: center;
  line-height: 1;
  letter-spacing: -3.5px;
}

.travel__text {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 40px;
  font-family: Manrope, sans-serif;
  font-size: var(--fs-lg);
  font-weight: var(--fw-regular);
  text-align: center;
  letter-spacing: -0.18px;
}

.travel__button-wrapper {
  margin-bottom: 80px;
}

.solution {
  padding: 64px 0;
}

.solution__title {
  margin-bottom: 24px;
}

.solution__text {
  margin-bottom: 70px;
}

.solution__list {
  gap: 20px;
}

.solution__item {
  max-width: 400px;
  padding: 24px 16px 16px;
  display: flex;
  flex-direction: column;
  border-radius: 32px;
  box-shadow: var(--shadow);
}

.solution__item-text {
  margin-bottom: 16px;
}

.users {
  padding-top: 70px;
  padding-bottom: 80px;
}

.users__title {
  margin-bottom: 32px;
}

.users__text {
  margin-bottom: 64px;
}

.users__buttons-wrapper {
  margin-bottom: 32px;
  display: flex;
  gap: 16px;
}

.users__button {
  padding: 16px 32px;
  font-size: var(--fs-lg);
  font-weight: var(--fw-semibold);
  line-height: 1;
  letter-spacing: -0.5px;
  color: var(--black);
  border: none;
  border-radius: 12px;
  background-color: var(--lightblue);
  cursor: pointer;
}

.users__button.active {
  background-color: var(--blue);
  color: var(--white);
}

.users__cards-wrapper {
  margin-bottom: 120px;
}

.users-card {
  max-width: 1140px;
  position: relative;
  border: 2px solid var(--smokygray);
  border-radius: 32px;
  box-shadow: var(--shadow-2);
}

.users-card ul {
  padding-left: 20px;
}

.users-card__content {
  padding: 42px;
  display: none;
  justify-content: space-between;
  row-gap: 30px;
}

.users-card__content.active {
  display: flex;
}

.users-card__description {
  flex-basis: 48%;
}

.users-card__description ul {
  padding-right: 50px;
}

.users-card__title {
  margin-top: 0;
  margin-bottom: 32px;
  text-align: left;
}

.users-card__text {
  text-align: left;
}

li {
  list-style-type: disc;
}

.users-card__img {
  flex-basis: 48%;
}

.users-card__img img {
  width: 100%;
  height: auto;
  border-radius: 32px;
}

.users__cards-decorate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.users-card__bottom {
  width: 90%;
  height: 30px;
  box-shadow: var(--shadow-3);
  border-bottom: 2px solid var(--smokygray);
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}

.users-card__bottom:nth-child(3) {
  width: 80%;
}

.purposes {
  padding-top: 64px;
  padding-bottom: 70px;
  background-color: var(--lightblue);
}

.purposes__title {
  margin-bottom: 70px;
}

.purposes__list {
  max-width: 950px;
  margin: 0 auto;
  margin-bottom: 70px;
  flex-wrap: wrap;
  gap: 56px 16px;
}

.purposes__item {
  width: 295px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.purposes__item-title {
  margin-bottom: 0;
}

.purposes__item-text {
  margin-bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 1023px) {
  .travel__title {
    font-size: var(--fs-6xl);
  }

  .title {
    font-size: var(--fs-5xl);
  }

  .subtitle {
    font-size: var(--fs-2xl);
  }

  .purposes__item-title {
    width: 13ch;
  }

  .users-card__content.active {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .solution__list {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .travel__title {
    font-size: var(--fs-5xl);
    letter-spacing: -2px;
  }

  .title {
    font-size: var(--fs-4xl);
    letter-spacing: -2px;
  }

  .subtitle {
    font-size: var(--fs-xl);
    letter-spacing: -0.2px;
  }

  .purposes__item-title {
    width: 100%;
  }

  .text,
  .travel__text,
  .users__button,
  .button {
    font-size: var(--fs-base);
  }

  .solution {
    padding-bottom: 0;
  }

  .users {
    padding-top: 64px;
  }

  .solution__text,
  .users__text {
    margin-bottom: 25px;
  }

  .users__button {
    padding: 12px 24px;
  }

  .users-card__description ul {
    padding-right: 0;
  }

  .users-card__content.active {
    padding: 30px;
  }

  .purposes__title {
    margin-bottom: 32px;
  }
}

@media (max-width: 430px) {
  .button {
    padding: 15px 40px;
  }

  .users__button {
    padding: 8px 12px;
    font-size: var(--fs-sm);
  }
}
